*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f3ef;
}


.navbar {
    background-color: #d9a07b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 55px;
}

nav button {
    margin-right: 30px;
    border-radius: 10px 10px;
    border: none;
    background-color: #d9a07b;
    cursor: pointer;
    font-size: 30px;
}

.navbar .logo img {
    width: 150px;
    display: inline-block;
}

.navbar .link {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar .link li {
    list-style: none;
    display: inline-block;
    margin: auto;
    text-align: center;
}

.link li a {
    text-decoration: none;
    color: white;
}

.link li a:hover {
    color: rgb(192, 98, 98);
}

.link li img {
    width: 15px;
    margin-right: 5px;
}


.dashboard-header{
    background:white;
    padding:20px;
    margin:20px auto;
    width:90%;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    text-align:center;
}

.dashboard-header h1{
    margin-bottom:10px;
    color:#333;
}

.dashboard-header p{
    color:#666;
}


.stats-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-bottom:20px;
}

.stat-box{
    background:white;
    padding:20px;
    border-radius:10px;
    width:150px;
    text-align:center;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.stat-box h3{
    font-size:24px;
    color:#d9a07b;
    margin-bottom:5px;
}

.stat-box p{
    font-size:14px;
    color:#555;
}


.main-container{
    display:flex;
    justify-content: center;
    gap:20px;
    width:90%;
    margin:auto;
}


.table-container{
    width:60%;
    overflow-x:auto;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
}

table th, table td{
    padding:12px;
    border-bottom:1px solid #eee;
    text-align:left;
}

table th{
    background:#d9a07b;
    color:white;
}

.btn{
    padding:5px 10px;
    border:none;
    background:#d9a07b;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:14px;
}

.btn:hover{
    background:#b47b55;
}


.add-product-box{
    width:30%;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    align-self:flex-start;
    margin-top: 170px;
    margin-left: 30px;
}

.add-product-box h3{
    margin-bottom:15px;
    color:#333;
}

.add-product-box label{
    display:block;
    margin-top:10px;
    margin-bottom:5px;
    font-weight:bold;
}

.add-product-box input, .add-product-box select{
    width:100%;
    padding:8px;
    border-radius:5px;
    border:1px solid #ccc;
}

.add-product-box button{
    margin-top:15px;
    width:100%;
}
