:root {
    --backg-color: rgb(246, 236, 223);
    --nav-bgcolor: rgb(244, 231, 215);
    --button-bg: #E8D7C2;
    --button-text: #5C4033;
    --nav-text: rgb(89, 15, 15);
    --footer-titles: black;
    --img: url("pic.jpg");
}

body {
    margin: 0;
    font-family: 'Inter';
    background-image: var(--img);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}

body.dark {
    --backg-color: #1e1e1e;
    --nav-bgcolor: #2b2b2b;
    --button-bg: rgb(64, 58, 48, 0.9);
    --button-text: #ffffff;
    --nav-text: #f5f5f5;
    --footer-titles: #E8D7C2;
    --img: url("dark2.jpg");
}

.navbar {
    background-color: var(--nav-bgcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    height: 55px;

}

nav button {
    margin-right: 30px;
    border-radius: 10px 10px;
    border: none;
    background-color: var(--nav-bgcolor);
    cursor: pointer;
    font-size: 30px;


}

.navbar .logo img {
    width: 150px;
    display: inline-block;

}

.navbar .link {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.navbar .link li {

    list-style: none;
    display: inline-block;
    margin-right: 70px;
    text-align: center;

}

.link li a {
    text-decoration: none;
    color: var(--nav-text);

}

.link li a:hover {
    color: rgb(192, 98, 98);

}

.link li img {
    width: 15px;
    margin-right: 5px;

}


.register_form{
    margin: auto;
    margin-top: 70px;
    background-color: rgb(255, 247, 240);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 30px black;
    width: 30%;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.register_form:hover {
    transform: scale(1.03); 
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3); 
}
.register_form h1 {
    font-family: 'Inter';
    margin-bottom: 30px;
    color: rgb(160, 82, 45);
}
a{
    color: rgb(160, 82, 45);
    text-decoration: none;
}
form input {

    display: block;
    width: 90%;
    margin: 12px 0;
    padding: 12px;
    border: 2px solid rgb(210, 180, 140);
    border-radius: 10px;
    background-color: rgb(255, 250, 245);
    font-size: 15px;
}

form button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(160, 82, 45);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    width: 50%; 
    font-size: 16px;
    cursor: pointer;
    display: block;
}
footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: rgb(160, 82, 45);
}
